<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        <div class="card">
          <div class="card-body p-5">

            <form [formGroup]="createTodoForm" (ngSubmit)="onCreateTodo()" class="d-flex justify-content-center align-items-start mb-4">
              <div data-mdb-input-init class="form-outline flex-fill">
                <input formControlName="title" type="text" id="form2" class="form-control" placeholder="Введите чтобы добавить..." />
              </div>
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info ms-2" [disabled]="!createTodoForm.valid">Добавить</button>
            </form>

            <ul class="list-group mb-0" *ngFor="let todo of todoList$ | async">
              <li class="list" [ngStyle]="{'text-decoration': (todo.completed) ? 'line-through' : 'none'}">
                <app-todo-item [todo]="todo"></app-todo-item>
              </li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>